@import '~nuijs/assets/components/search/index.less';

.search-wrap {
    position: relative;
    display: inline-block;
    select {
        width: 100% !important;
        min-width: 100% !important;
        max-width: 100% !important;
        margin: 0 !important;
    }
    input {
        padding: 0 16px 0 6px !important;
        margin: 0 !important;
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        bottom: 0 !important;
        width: 100% !important;
        height: auto !important;
        max-width: 100% !important;
        min-width: 100% !important;
        box-sizing: border-box !important;
    }
    &:after {
        position: absolute;
        right: 7px;
        top: 8px;
        content: '';
        border-style: solid dashed dashed;
        border-width: 3px;
        border-color: #333 transparent transparent;
        border-top-width: 6px;
    }
}

.con-search-body {
    border-color: #7B9DD4 !important;
}

.con-search-list {
    margin: 0 !important;
    padding: 0 !important;
    .con-search-item {
        height: 28px;
        line-height: 28px;
        padding-left: 7px !important;
        &.s-hover {
            background-color: #fafafa;
            color: inherit;
        }
        &.s-crt {
            background-color: #f0f9ff;
            color: inherit;
        }
    }
}

.con-search-empty {
    padding-left: 6px;
    line-height: 28px;
}