@import '~nuijs/assets/components/search/index.less';
@import '~nuijs/assets/components/layer/index.less';
@import '~nuijs/assets/elements/button/index.less';

.f-oh {
    overflow: hidden;
}

.ui-button {
    outline: none;
}

.layer-foot {
    .ui-button {
        min-width: 60px;
    }
}

.hide-select {
    display: none !important;
}

.search-wrap {
    position: relative;
    display: inline-block;
    input {
        padding: 0 16px 0 6px !important;
        margin: 0 !important;
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
        box-sizing: border-box !important;
        min-height: 23px !important;
    }
    &:after {
        position: absolute;
        right: 7px;
        top: 8px;
        content: '';
        border-style: solid dashed dashed;
        border-width: 3px;
        border-color: #333 transparent transparent;
        border-top-width: 6px;
    }
}

.con-search-body {
    border-color: #7B9DD4 !important;
}

.con-search-list {
    margin: 0 !important;
    padding: 0 !important;
    .con-search-item {
        height: 24px;
        line-height: 24px;
        padding-left: 7px !important;
        &.s-hover {
            background-color: #fafafa;
            color: inherit;
        }
        &.s-crt {
            background-color: #f0f9ff;
            color: inherit;
        }
        &.s-dis {
            color: #ccc;
        }
        &.s-ind {
            padding-left: 14px !important;
        }
        strong {
            color: #000;
        }
    }
}

.con-search-empty {
    padding-left: 6px;
    line-height: 28px;
}

.j-generate-chart {
    padding-left: 18px !important;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAABlklEQVQ4T73SS0sbYRQG4Pd8mZoooqWING5cCrEUXEhpSyZTSnUhgpdmnOCmqJNR/Amll42b/oGSi82iXuYzILhzpzMJdiGCIIgbizt3gou2qJPvyFAIBFyYLnrW54H3XAj/WNSMs4r6gDvrH4LA94JjJeNhNFDLBBpGQE/chd2zBviuZMT+BGoVwBuApBL4pnGtU3GkROBzEVFv12aqP8OUdZjJGV1KqG1idJDAEitMMNEIMRMTvqhrsYToVUt57sdFHY5/fdHdEtH2iVD9LWrzWiDaN53KebpkPAbXHpVnKsdTBf09AQnX9qfrMJwhdsOjbtb7bhZTo4Lx0bW9QWv5ZY8KtL4Nx9uxCvpnBiWk7Zl1mN543ioutSFpV7bMvG4S8Elm/X6roC+CkXazvnEnzOSTKUXClbYXbwqaudQrEiyl7Xf/J1jUdWKSf6MmJwkUzvjUyifnQZR2bf+1VUh9YEZCZr1Mw3JwGUmU7erB9Mqzjutf0d6y4x+FtwXQte7snkzkkvEHqLVJZ++04QGa+dmw9xZbOs4PCB+hYQAAAABJRU5ErkJggg==) no-repeat left center;
    &.loading {
        background-image: url('/images/loading.gif');
        background-size: 14px;
    }
}